body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

#filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#filters button {
    background-color: #F2A0B0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#filters button:hover {
    background-color: #e8909e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#departmentFilters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#departmentFilters label {
    background-color: #f2a0b0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#departmentFilters label:hover {
    background-color: #e8909e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#departmentFilters input[type="checkbox"] {
    display: none;
}

#departmentFilters input[type="checkbox"]:checked + label {
    background-color: #e8909e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.list-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.list-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.list-item-content {
    flex: 1;
}

.list-item-content h2 {
    margin: 0 0 10px;
    color: #333;
    display: inline-block;
}

.department-box {
    display: inline-block;
    background-color: #F2A0B0;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    /* margin-bottom: 30px; */
    border-radius: 5px;
    font-size: 14px;
}

.list-item-content p {
    margin: 5px 0;
    color: #666;
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F2A0B0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #e8909e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.action-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.curriculum-bar-container {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 20px; /* 왼쪽 여백 추가 */
    position: relative;
    width: 50%; /* 바 전체 길이를 50%로 조정 */
}

.curriculum-bar {
    height: 5px;
    background-color: #F2A0B0;
    width: 100%;
    position: relative;
    border-radius: 2.5px;
}

.month-point {
    height: 30px; /* 크기 50% 증가 */
    width: 30px; /* 크기 50% 증가 */
    background-color: white;
    color: #F2A0B0;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -12.5px; /* 크기 증가에 따라 위치 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* 크기에 맞게 폰트 크기 증가 */
    line-height: 1;
    z-index: 1;
}

.month-detail {
    display: none;
    position: absolute;
    top: 35px; /* 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 9999;
}

.month-point:hover .month-detail,
.month-point:focus .month-detail {
    display: block;
}

