/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.list-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.list-item-content {
    flex: 1;
}

.list-item-content h2 {
    margin: 0 0 10px;
    color: #333;
}

.list-item-content p {
    margin: 5px 0;
    color: #666;
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F2A0B0; /* 버튼 색상 코드 */
}

.curriculum-bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden; /* 내부 포인트가 넘치지 않도록 설정 */
}

.month-point {
    height: 100%;
    width: 10%; /* 고정 너비 */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2A0B0; /* 포인트 색상 코드 */
    color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 2%; /* 포인트 간 간격 */
}

.month-detail {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
}

.month-point:hover .month-detail,
.month-point:focus .month-detail {
    display: block;
}
