body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

#filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#filters label {
    margin-right: 20px;
    font-size: 14px;
}

#departmentFilters label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s;
}

.list-item:hover {
    background-color: #f1f1f1;
}

.list-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.list-item-content {
    flex: 1;
}

.list-item-content h2 {
    margin: 0 0 10px;
    color: #333;
    display: inline-block;
}

.department-box {
    display: inline-block;
    background-color: #F2A0B0; /* 버튼 색상 코드 */
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.list-item-content p {
    margin: 5px 0;
    color: #666;
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F2A0B0; /* 버튼 색상 코드 */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e8909e;
}

.action-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.curriculum-bar-container {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #F2A0B0; /* 버튼 색상 코드 */
    border-radius: 5px;
    padding: 5px;
    overflow: hidden; /* 내부 포인트가 넘치지 않도록 설정 */
    margin-left: 20px;
}

.curriculum-bar {
    display: flex;
    align-items: center;
    height: 10px;
    background-color: #F2A0B0; /* 버튼 색상 코드 */
    border-radius: 5px;
    overflow: hidden; /* 내부 포인트가 넘치지 않도록 설정 */
}

.month-point {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #F2A0B0;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px; /* 포인트 간의 간격 */
}

.month-detail {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 9999; /* 모든 다른 요소 위에 표시되도록 z-index 값을 높게 설정 */
}

.month-point:hover .month-detail,
.month-point:focus .month-detail {
    display: block;
}
