body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.relative {
    position: relative;
}

.max-w-3xl {
    max-width: 48rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-screen {
    height: 100vh;
}

.absolute {
    position: absolute;
}

.w-screen {
    width: 100vw;
}

.bg-gradient-to-t {
    background: linear-gradient(to top, black, transparent);
}

.opacity-90 {
    opacity: 0.9;
}

.z-4 {
    z-index: 4;
}

.z-10 {
    z-index: 10;
}

.bottom-20 {
    bottom: 5rem;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-white {
    color: white;
}

.font-bold {
    font-weight: bold;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.leading-normal {
    line-height: 1.5;
}

.gradient-effect-text {
    background: linear-gradient(90deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-lg {
    font-size: 1.125rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.bg-primary {
    background-color: var(--color-primary);
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.font-extrabold {
    font-weight: 800;
}

.find-club-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.icon {
    margin-right: 0.5rem;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.relative {
    position: relative;
}

.max-w-3xl {
    max-width: 48rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.h-screen {
    height: 100vh;
}

.absolute {
    position: absolute;
}

.w-screen {
    width: 100vw;
}

.bg-gradient-to-t {
    background: linear-gradient(to top, black, transparent);
}

.opacity-90 {
    opacity: 0.9;
}

.z-4 {
    z-index: 4;
}

.z-10 {
    z-index: 10;
}

.bottom-20 {
    bottom: 5rem;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-white {
    color: white;
}

.font-bold {
    font-weight: bold;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.leading-normal {
    line-height: 1.5;
}

.gradient-effect-text {
    background: linear-gradient(90deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-lg {
    font-size: 1.125rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.bg-primary {
    background-color: var(--color-primary);
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.font-extrabold {
    font-weight: 800;
}

.find-club-button {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    margin-right: 0.5rem;
}
.button {
    background-color: var(--color-primary);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    max-width: 300px;
    margin: 0 auto;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-bottom: 10px; /* 버튼을 위로 10px 이동 */
}
